<form id="contactForm" role="form"
      data-request="{{ __SELF__ }}::onMailSent"
      data-request-update="'zw_custom_contact_form/confirm': '.confirm-container'"
      data-request-error="$('.form-loader-area').hide()"
      data-request-success="$('#contactForm').trigger('reset');$('.form-loader-area').hide()">

        <div class="input-field">
            <input id="contact_name" type="text" name="name"
                   class="validate input-box">
            <label for="contact_name" class="input-label">Name</label>
        </div>
        <div class="input-field">
            <input id="email" type="email" name="email"
                   class="validate input-box">
            <label for="email" class="input-label">Email</label>
        </div>
        <div class="input-field">
            <input id="subject" type="text" name="subject"
                   class="validate input-box">
            <label for="subject" class="input-label">Subject</label>
        </div>
        <div class="input-field textarea-input">
            <textarea id="textarea1" name="body"
                      class="validate materialize-textarea"
                      style="height: 22px;"></textarea>
            <label for="textarea1" class="input-label">Message</label>
        </div>
        <div class="input-field submit-wrap clearfix">
            <button type="submit"
                    class="left waves-effect btn-flat brand-text submit-btn">send
                message
            </button>
            <div class="right form-loader-area">
                <svg class="circular size-20" height="20" width="20">
                    <circle class="path" cx="10" cy="10" r="7" fill="none"
                            stroke-width="3" stroke-miterlimit="10"/>
                </svg>
            </div>
        </div>
</form>
<div class="confirm-container green-text">
</div>