description = "javascripts loaded at the end of body"
==
<script src="{{ [
    'assets/js/jquery.easing.1.3.js',
    'assets/js/jquery.easing.1.3.js',
    'assets/js/detectmobilebrowser.js',
    'assets/js/isotope.pkgd.min.js',
    'assets/js/wow.min.js',
    'assets/js/waypoints.js',
    'assets/js/jquery.counterup.min.js',
    'assets/js/jquery.nicescroll.min.js',
    'assets/libs/owl-carousel/owl.carousel.min.js',
    'assets/libs/materialize/js/materialize.min.js',
    'assets/libs/jwplayer/jwplayer.js',
    'assets/libs/sweetalert/sweet-alert.min.js',
    'assets/js/common.js',
    'assets/js/main.js'
]|theme }}">
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-98407183-2', 'auto');
  ga('send', 'pageview');

</script>


{% partial 'base/map-js.htm' %}

{% framework %}
{% scripts %}