description = "funfacts section"
==
<section id="funfacts" class="root-sec grey lighten-5 funfact-wrap">
    <div class="sec-inner padd-tb-120">
        <div class="container">
            <div class="row">
                <div class="funfact-inner">
                    <div class="col-sm-6 funfact-box">
                        <div class="center-align card-panel white">
                            <div class="feature-box-outer">
                                <div class="funfact-box-inner">
                                    <div class="clearfix ">
                                        <i class="mdi-maps-local-airport"></i>
                                        <span class="num countNumb">23</span>
                                    </div>
                                    <div class="context">Number of countries travelled</div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- ./single fun fact box -->
                   <!-- <div class="col-sm-4 funfact-box">
                       <div class="center-align card-panel white">
                           <div class="feature-box-outer">
                               <div class="funfact-box-inner">
                                   <div class="clearfix ">
                                       <i class="mdi-action-wallet-travel"></i>
                                       <span class="num countNumb">3</span>
                                   </div>
                                   <div class="context">Project Co</div>
                               </div>
                           </div>
                       </div>
                   </div>  -->
                   <!-- ./single fun fact box -->
                    <div class="col-sm-6 funfact-box">
                        <div class="center-align card-panel white">
                            <div class="feature-box-outer">
                                <div class="funfact-box-inner">
                                    <div class="clearfix ">
                                        <i class="mdi-action-wallet-giftcard"></i>
                                        <span class="num countNumb">7</span>
                                    </div>
                                    <div class="context">Certificate & Award Won</div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- ./single fun fact box -->
                </div>
            </div>

        </div>  <!-- .container end -->
    </div>
</section>