description = "portfolio section"
==
{% if this.theme.show_portfolio_section and this.theme.portfolio_items %}
    <section id="portfolio" class="scroll-section root-sec white portfolio-wrap">
        <div class="padd-tb-120 brand-bg portfolio-top">
            <div class="portfolio-inner">
                <div class="container">
                    <div class="row">
                        <div class="col s12">
                            <h2 class="title">PORTFOLIO</h2>

                            <ul class="inline-menu clearfix portfolio-category" id="portfolio-msnry-sort">
                                <li class="active">
                                    <a href="#" data-target="*">All</a>
                                </li>
                                {% set pCategories = this.theme.portfolio_categories|split(',') %}
                                {% for cat in pCategories %}
                                    <li>
                                        <a href="#" data-target=".{{ cat }}">{{ cat }}</a>
                                    </li>
                                {% else %}
                                    <li>
                                        <a href="#">No Categories defined</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- .container end -->
        </div>

        <div class="portfolio-bottom">
            <div class="container">
                <div class="row">
                    <div class="col s12">
                        <ul class="clearfix protfolio-item" id="protfolio-msnry">


                            {% for pItem in this.theme.portfolio_items %}

                                <!-- Single Portfolio-->
                                <li class="single-port-item {{ pItem.categories }}">
                                    <a href="#portfolioModal{{ loop.index }}" class="waves-effect waves-block waves-light modal-trigger">
                                        <div class="protfolio-image">
                                            <img src="{{ pItem.image ? pItem.image|media|resize(390,280,{ mode: 'crop' }) : '//placehold.it/390x280' }}" alt="Portfolio {{ pItem.name }}">
                                            <div class="protfolio-content waves-effect waves-block waves-light">
                                                <div class="protfolio-content__inner">
                                                    <h2 class="p-title">{{ pItem.title }}</h2>
                                                </div>
                                            </div>
                                            <div class="p-overlay"></div>
                                        </div>
                                    </a>
                                </li>

                                <div id="portfolioModal{{ loop.index }}" class="modal white">
                                    <div class="model-img">
                                        <img src="{{ pItem.image|media|resize(650,350,{ mode: 'crop' }) }}" />
                                    </div>
                                    <div class="modal-content">
                                        <h2 class="title">{{ pItem.title }}</h2>
                                        <p class="m-content">{{ pItem.desc }}</p>
                                    </div>

                                    <div class="modal-footer">
                                        {% if pItem.url %}
                                            <a href="{{ pItem.url }}" target="_blank" class="waves-effect btn-flat brand-text modal-action">Live Demo</a>
                                        {% endif %}
                                        <a href="#" class="waves-effect btn-flat brand-text modal-action modal-close">close</a>
                                    </div>
                                </div>
                            {% endfor %}

                        </ul>
                        <!-- portfolio load more button
                        <a id="portfolio-item-loader" href="#"
                           class="btn-floating btn-large waves-effect waves-light brand-bg"><i class="mdi-content-add"></i></a>-->
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endif %}