description = "education section"
==
<section id="education" class="root-sec grey lighten-5 padd-tb-120 education-wrap">
    <div class="container">
        <div class="row">
            <div class="education-inner">
                <div class="col s12 m10 card-box-wrap">
                    <div class="row">
                        <div class="clearfix section-head education-text">
                            <div class="col s12">
                                <h2 class="title">education</h2>
                                {% component 'educationDescEdit' %}
                            </div>
                        </div>
                        <div class="col s12">
                            <div class="overflow-hidden">
                                <div class="row">
                                    {% component 'zw_theme_education' %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-wrapp edu-ctrl">
                    <a class="btn-floating waves-effect waves-light btn-large brand-bg go go-left"><i
                            class="mdi-navigation-chevron-left"></i></a>
                    <a class="btn-floating waves-effect waves-light btn-large brand-bg go go-right"><i
                            class="mdi-navigation-chevron-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>